
body,
html {
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: white;
  background-repeat:repeat;
  min-width: 170px;
  padding-bottom:5px;
}
/** BEGIN SEARCH BAR CSS **/
#searchBarForm {
  display: flex;
  justify-content: center;
  height:40px;
  margin:10px;
  margin-bottom: 20px;
}
#searchBarCriteria {
  flex:1;
  padding-left:10px;
  font-size: 1em;
}

#searchBarButton {
  display: none
}
/** END SEARCH BAR CSS **/

/** BEGIN CARD CSS **/
.card {
  background: #FFFFFF;
  z-index: 2;
  padding: 20px;
  max-width: 580px;
  width:96%; /* for some margin when the page gets small */
  min-width: 100px;
  font-family: 'PT Serif', serif;
  box-shadow: 0 0 5px 0 #000000;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.cardlist {
  display:flex;
  align-items: center; /*horizontally centered items*/
  flex-direction: column; /*vertical*/
}

.card .title {
  margin-top: 0;
}

/** END CARD CSS **/


a:link {
    color: #727272;
    text-decoration: none;
}

a:visited {
    color: #727272;
    text-decoration: none;
}

a:hover {
    color: #727292;
    text-decoration: underline;

}

a:active {
    color: #727292;
    text-decoration: underline;
}
